/* Home.css */
.home-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.logo-image {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin: 20px;
}

/* Add more styles as needed */
